.game-panel-menu {
  margin-top: 30vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-panel-menu .start-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  height: 50px;
  margin:5px;
  background: #f1202d;
  color: #09090b;
  border-radius: 15px;
  border: 15px white;

  font-size: 18px;
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;
}

.game-panel-menu .watch-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 50px;

  font-size: 18px;
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;

  margin:5px;

  background: #f6fd02;
  color: #09090b;

  border-radius: 15px;
  border: 15px white;
}

.session-panel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 50px;
}

.session-panel .element {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;

  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
}

.users {
  min-width: 100px;
}
.watchers-count {
  min-width: 150px;
  text-align: right;
}

.img-loading {
  width: 250px;
}
